@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply h-full min-h-screen bg-background text-textPrimary;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
